<!DOCTYPE html>
<html lang="ja">
  <head>
    {%- include '../partial/head.njk' -%}
  </head>
  <body>
    {%- include '../partial/header.njk' -%}
    <article class="post-article">
      {{post.contents | safe}}
    </article>
    <ul>
      {% if post.nextPost %}
      <li>次に出た記事: <a href="{{post.nextPost.url}}">{{post.nextPost.title}}</a></li>
      {% endif %}
      {% if post.prevPost %}
      <li>前に出た記事: <a href="{{post.prevPost.url}}">{{post.prevPost.title}}</a></li>
      {% endif %}
    </ul>
  </body>
</html>
