<!DOCTYPE html>
<html lang="ja">
  <head>
  {%- include './partial/head.njk' -%}
  </head>
  <body>
    <ul>
    {% for item in postList -%}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor -%}
    </ul>
  </body>
</html>
