<!DOCTYPE html>
<html lang="ja">
  <head>
  {%- include './partial/head.njk' -%}
  </head>
  <body>
    <main>
      <h1>{{head.title}}</h1>
      <ul>
      {% for item in postList -%}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
      {% endfor -%}
      </ul>
    </main>
    <script src="public/js/script.js" defer></script>
  </body>
</html>
