<!DOCTYPE html>
<html lang="ja">
  <head>
  {%- include './partial/head.njk' -%}
  </head>
  <body>
    <main>
      <h1>{{head.title}}</h1>
      <ul>
      {% for item in postList -%}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
      {% endfor -%}
      </ul>
    </main>
    <script>
    if ('serviceWorker' in navigator) {
      try {
        navigator.serviceWorker.register('sw.js');
        console.log('SW registered');
      } catch (err) {
        console.log(err);
      }
    }
    </script>
    <script src="public/js/script.js" defer></script>
  </body>
</html>
