<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>{{head.title}}</title>
    <meta name="author" content="">
    <meta name="copyright" content="">
    <meta name="description" content="{{head.description}}">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="viewport" content="">
    <meta property="og:description" content="{{head.description}}">
    <meta property="og:title" content="{{head.title}}">
    <meta property="og:url" content="{{head.url}}">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ja_JP">
    <meta name="twitter:title" content="{{head.title}}">
    <meta name="twitter:description" content="{{head.description}}">
    <meta name="twitter:image" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <link href="icon" rel="shortcut icon">
    <link href="icon" rel="image_src">
    <link href="icon" rel="icon" type="image/png">
    <link href="icon" rel="apple-touch-icon">
    {# <link rel="stylesheet" href="./css/style.css"> #}
</head>
  <body>
    {{post.contents | safe}}
  </body>
</html>
